# Backend
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/g_scores
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/g_scores_test
PORT=3000
CORS_ORIGIN=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3000/api/v1
